.editable-label {
  display: inline-block;
  padding: 4px 10px;
  border-bottom: 1px solid white;

  &:hover {
    cursor: pointer;
    background: #f5f5f5;
    border-radius: 3px;
    border-bottom: 1px solid #ececec;
  }

  i {
    font-size: 16px;
    color: darkgray;
    margin-left: 5px;
  }

  input {
    width: inherit;
    padding: 0px 5px;
    border: none;
    border-radius: 3px;
    background: #f5f5f5;
    border-bottom: 1px solid #ececec;
    &:focus {
      outline: none;
    }
  }
  .valid {
    border-bottom: 1px solid #b4e4c6;
    background-color: #e4ffee;
  }
  .invalid {
    background-color: lightcoral;
  }
  &:required:invalid {
    border-bottom: 1px solid red;
  }
}
