.editable-box {
  span:hover {
    cursor: pointer;
  }

  .icon {
    margin-right: 5px;
  }

  .btn-circle {
    width: 22px;
    height: 22px;
    border-radius: 11px;
    border: none;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 12px;
    padding: 0;
  }

  .btn-discard {
    @extend .btn-circle;
    background: red;
  }

  .btn-confirm {
    @extend .btn-circle;
    background: green;
  }
}
