@import "../../scss/variables";

.validation-icon {
  font-weight: 800;
  font-size: 16px;
  position: absolute;
  line-height: inherit;
}

.editable-label-focused {
  display: inline-block;
  padding: 4px 22px 4px 10px;
  background: #f5f5f5;
  border-radius: $btn-radius;
  border-bottom: 1px solid #ececec;

  .valid {
    @extend .validation-icon;
    color: #00dca3;
  }
  .invalid {
    @extend .validation-icon;
    color: #ff5e5e;
  }
}

.editable-label {
  display: inline-block;
  padding: 4px 10px;
  border-bottom: 1px solid white;

  &:hover {
    @extend .editable-label-focused;
    cursor: pointer;
  }

  i {
    font-size: 16px;
    color: darkgray;
    margin-left: 5px;
  }
}

.editable-label-input {
  border: none;
  background: none;
  width: -webkit-fill-available;
  &:focus {
    outline: none;
  }
}
// &:required:invalid {
//   border-bottom: 1px solid red;
// }
