.open-hour-table {
  a:hover {
    cursor: pointer;
  }
  tr {
    height: 26px;
    width: 300px;
  }
  th {
    width: 100px;
  }
  td {
    width: 200px;
  }

  table {
    margin-left: 22px;
  }
}
