@import '../../scss/variables';

#plan-sidebar {
  width: $map-sidebar-width;
  position: fixed;
  top: 40px;
  right: 0px;
  background: white;
  height: 100%;
  overflow: auto;
  padding: 10px;

  .nav.nav-pills {
    margin: 5px;
  }

  .tab-menu.active {
    a {
      border-radius: 2px;
      background: cornflowerblue;

      &:hover {
        padding: 8px 15px;
      }
    }
  }

  .tab-menu {
    margin-right: 5px;
    a {
      padding: 8px 15px;
    }
  }
}

.btn-add {
  background: $col-btn-add;
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 20px;
  border: 0;
  color: white;
  &:hover {
    background-color: lighten(#3abfff, 5%);
  }
}
