@import 'variables';

#app {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
  font-family: 'Open Sans', sans-serif;
  // font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.inline {
  display: inline;
}

.app-container {
  height: 100%;
  display: -webkit-flex;
  display: flex;
}

.container {
  height: 100%;
  width: 1000px;
}

.material-icons {
  vertical-align: middle;
}

.full-height {
  height: 100%;
}

.searchbox-input {
  width: $map-sidebar-width - 20px;
  height: 30px;
  margin: 10px;
  padding: 10px;
  font-size: 12px;
  // position: fixed !important;
}
