#app {
	height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.full-height {
	height: 100%;
}

.column{
	display: inline-block;
	float: left;
	height: 100%;
	padding: 10px;
}

.navigation{
	@extend .column;
	width: 20%;
	.nav-item{
		margin-bottom: 20px;
	}
}

.content-box{
	@extend .column;
	width: 80%;
}

.map-container{
	height: 100%;
	width: 70%;
	display: inline-block;
}

.searchbox-input{
	width: 300px;
	height:30px;
}

.plan-box{
	display: inline-block;
	width: 30%;
	float: right;
}

// .info-container{
// 	height: 100%;
// 	width: 35%;
// 	display: inline-block;
// }