$map-sidebar-width: 380px;

$font-title-size: 24px;
$font-title-weight: 500;

$col-btn: #93abfa;
$col-login: #36d6ab;
$col-link: #6285f8;
$col-btn-add: #3abfff;

.btn {
  border: 0;
  border-radius: 20px;
}
