$react-dates-width-input: 90px;
$react-dates-spacing-vertical-picker: 45px;
$react-dates-color-text-focus: black;

@import '~react-dates/css/variables.scss';
@import '~react-dates/css/styles.scss';
@import "../../scss/variables.scss";

$header-height: 22px;
$activity-left-margin: 30px;

.btn-delete {
  float: right;
  background: none;
  border: none;
  color: lightgrey;
  .material-icons {
    font-size: 18px;
  }
  &:hover {
    color: black;
  }
}
.unassigned-activity {
  padding: 5px;
  margin-left: 10px;
  background: white;
}

.activity-item {
  background: white;
  position: relative;
  padding-bottom: 20px;
  border-left: 2px solid lavender;
  margin-left: 10px;

  .memo-label {
    display: block;
  }
}

.activity-index {
  display: inline-block;
  background-color: $col-btn;
  border-radius: $header-height / 2;
  width: $header-height;
  height: $header-height;
  line-height: $header-height;
  color: white;
  text-align: center;
  margin-right: 5px;
  position: absolute;
  z-index: 2;
  left: -12px;
}

.activity-header {
  border-radius: $header-height / 2;
  margin-left: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}

.activity-content {
  margin-left: $activity-left-margin;
  font-weight: 300;
  .time-picker {
    display: inline-block;
    vertical-align: middle;

    width: 100px;
    margin-right: 10px;
  }
  .duration-picker {
    display: inline-block;
    width: 100px;
    vertical-align: middle;
  }
}

.SingleDatePickerInput {
  margin-right: 10px;
}
.DateInput {
  line-height: normal;
  font-size: inherit;
  padding: 0px;
}
.DateInput__display-text--focused {
  background: white;
}
.SingleDatePicker__picker--direction-left {
  z-index: 10;
}
