@import '../../scss/variables';

.plan-header {
  margin: 5px;
  .title {
    font-size: $font-title-size;
    font-weight: $font-title-weight;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .description {
    margin-bottom: 5px;
  }
}

.route-box {
  margin-left: 15px;
  border-left: 2px solid lightseagreen;
  color: #34c39e;
  span {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.itinerary {
  width: $map-sidebar-width;
  position: fixed;
  top: 40px;
  right: 0px;
  background: white;
  height: 100%;
  overflow: auto;
  padding: 10px;
}
